body {  
    background-color:#3c3f0a!important;
}

.foot, .nav-bar {
    background-color: #6a9929!important;
    color:#1a1a1a!important;
} 

.post .post-header h3 a:visited, .post .post-header h3 a:link {
    background-color: #6a9929!important;
    color:#1a1a1a!important;
}

a.nav-bar-button {
    text-shadow: 1px 1px rgba(255,255,255,0.3)!important;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.40) 100%)!important;
}

a.nav-bar-button:HOVER, .nav-bar .drop-down.hover a.nav-bar-button {
    background-color: rgba(255,255,255,0.5)!important;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.2) inset!important;
}

.nav-bar .widget {
    border-left: 1px solid rgba(255,255,255,0.05)!important;
    border-right: 1px solid rgba(255,255,255,0.3)!important;
}

ul.headlines li, .feed-links {
    background-color: rgba(255,255,255,255.5)!important;
}

ul.headlines li a, .feed-links, .feed-links a {
    background-color: #6a9929!important;
    color:#1a1a1a!important;
}

.module h1, div.settings h1, .blog-pager a {
    background-color: #6a9929!important;
    color:#1a1a1a!important;
}

#header-bg-1,#header-bg-2,#header-bg-3,#header-bg-4 {
    background-image:url("https://vignette.wikia.nocookie.net/craigofthecreek/images/5/50/Wiki-background/revision/latest?cb=20180429054312")!important;
    background-size:cover;
}

#header-bg-4 a img {
    width:0;
    height:0;
    padding-left:975px;
    padding-top:293px;
    background-image:url("https://media.discordapp.net/attachments/259431839855411200/559592411844706325/unknown.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
}

#HTML601 h2, div.settings h1, a[href='/search/label/Drawing Things Out'], a[href='/search/label/Rebecca Sugar'] {
    font-size:0;
}

div.settings h1:before {
    font-size:25px;
    font-weight: bold;
    content:"Blog of the Creek Settings";
}

#HTML601 h2:before{
    content:'Blog of the Creek';
    font-size:20px;
}

.foot a, .foot h2, .status-msg-body {
    background-color: #6a9929!important;
    color:#1a1a1a!important; 
}

a[href='/search/label/Drawing Things Out']:before {
    content:'Art of the Creek';
}

a[href='/search/label/Rebecca Sugar']:before {
    content:'CotC Fan Rebecca Sugar';
}