.bcb-hit-the-diamond {
    width:640px;
    height:480px;
    position:relative;
    overflow:hidden;
    margin:auto;
    background-image:url("img/barnview.jpg");
    background-size:cover;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

    .bcb-hit-the-diamond.running {
        cursor: crosshair;
        cursor: url("img/hammerdot.png") 10 110, crosshair;   
    }
        .bcb-hit-the-diamond.running.mouseDown {
            cursor:cell;
            cursor: url("img/hammerdown.png") 22 72, cell;
        }
    
    .bcb-hit-the-diamond:before {
        content:'';
        position: absolute;
        top:1%;
        left:10%;
        width:80%;
        height:20%;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
        background-image:url("img/logo.png");
    }
    
    .bcb-hit-the-diamond:after {
        content:"Your High Score: " attr(data-highscore);
        position: absolute;
        top:20%;
        left:0;
        width:100%;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:#e27c96;
        text-shadow:1px 1px white, 1px -1px white, -1px -1px white, -1px 1px white, 0 2px #9ae5f4;
    }
    
    .bcb-hit-the-diamond.running:after {
        content:"Score: " attr(data-score);
    }
    
    .bcb-hit-the-diamond.over:after {
        content:"Game Over";
        font-size:2em;
    }
    
    .bcb-hit-the-diamond .credits, .bcb-hit-the-diamond .instructions {
        list-style: none;   
    }
    
        .bcb-hit-the-diamond .credits > li > span:first-child {
            display: inline-block;
            min-width:40%;
            text-align: right;
        }
        
            .bcb-hit-the-diamond .credits > li > span:first-child:after {
                margin-right:1em;
                content:':';
            }
    
    .bcb-hit-the-diamond a {
        color:#9ae5f4!important;   
    }
    
    .bcb-hit-the-diamond .dialog {
        position: absolute;
        width:80%;
        bottom:10%;
        left:10%;
        box-sizing: border-box;
        border:5px solid white;
        border-radius:1em;
        box-shadow: 0 3px 0 #9ae5f4;
        background-color:#6a85a4;
        color:white;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding:1em;
    }
        .bcb-hit-the-diamond .dialog > div {
            margin-bottom:.5em;   
        }
        .bcb-hit-the-diamond .dialog > button {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color:#e27c96;
            border-color:#e27c96;
            color:white;
            font-weight: bold;
            float:right;
            padding:0 .5em;
            font-size: 1.25em;
            text-transform: uppercase;
            border-radius: 1em;
            cursor: pointer;
        }
        
            .bcb-hit-the-diamond .dialog > button + button {
                float:left;   
            }
            
            .bcb-hit-the-diamond .dialog > button.yes:after {
                font-family: FontAwesome;
                content: "\f04b";
                position: relative;
                top:-.25em;
                font-size:.7em;
                left:.25em;  
            }
            
            .bcb-hit-the-diamond .dialog > button.loading {
                border-style: solid;
                opacity: .8;
                pointer-events: none;   
            }
                
                .bcb-hit-the-diamond .dialog > button.loading > i {
                    position: relative;
                    left:-.25em;   
                }

    .bcb-hit-the-diamond .eyepod {
        width:629px;
        height:389px;
        background-image:url("img/eyepod.png");
        position: absolute;
        top:55%;
        transform-origin:top left;
        transform:scale(.4)translate(-50%,-50%);
        pointer-events: none;
        display: none;
    }
    
    .bcb-hit-the-diamond.running .eyepod,  .bcb-hit-the-diamond.over .eyepod {
        display:block;   
    }

        .bcb-hit-the-diamond .eyepod:nth-of-type(3n+0) {
            left:20%;   
        }
        .bcb-hit-the-diamond .eyepod:nth-of-type(3n+1) {
            left:50%;   
        }
        .bcb-hit-the-diamond .eyepod:nth-of-type(3n+2) {
            left:80%;   
        }
        .bcb-hit-the-diamond .eyepod + .eyepod + .eyepod + .eyepod {
            top:70%;
            transform:scale(.6)translate(-50%,-50%);
        }
        .bcb-hit-the-diamond .eyepod + .eyepod + .eyepod + .eyepod + .eyepod + .eyepod + .eyepod {
            top:90%;
            transform:scale(.8)translate(-50%,-50%);
        }

        .bcb-hit-the-diamond .eyepod:after {
            content:'';
            width:629px;
            height:238px;
            background-image:url("img/eyepod-fore.png");
            position: absolute;
            bottom:0;
            left:0;
            pointer-events: all;
        }
        
        .bcb-hit-the-diamond .eyepod .gems {
            position: absolute;
            left:235px;
            width:160px;
            bottom:150px;
            transform:rotateZ(5deg); 
        }
        
        .bcb-hit-the-diamond .eyepod:nth-of-type(2n) .gems {
            transform:rotateZ(5deg)rotateY(180deg);   
        }
        
            .bcb-hit-the-diamond .eyepod .gems > .gem {
                position: absolute;
                left:0;
                bottom:0;
                margin-bottom:-500px;
                transition: all .5s ease-in-out;
            }
                .bcb-hit-the-diamond .eyepod .gems > .gem.popped {
                     margin-bottom: 0;
                }
                
                .bcb-hit-the-diamond .eyepod .gems > .gem.hit {
                    transition: all 1s ease-in-out;   
                }
                
                .bcb-hit-the-diamond .eyepod .gems > .gem > img {
                    width:160px;
                    pointer-events: all;   
                    position: absolute;
                    left:0;
                    bottom:0;
                    -webkit-user-drag: none;
                }
                    
                    .bcb-hit-the-diamond .eyepod .gems > .gem > img + img {
                        display:none;   
                    }
                    
                    .bcb-hit-the-diamond .eyepod .gems> .gem.hit  > img {
                        display:none;   
                    }
                    .bcb-hit-the-diamond .eyepod .gems > .gem.hit  > img + img {
                        display:block;   
                    }