@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

.bcb-hit-the-diamond {
    width:640px;
    height:480px;
    position:relative;
    overflow:hidden;
    margin:auto;
    background-image:url("img/barnview.jpg");
    background-size:cover;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size:16px;
    touch-action: manipulation;
}

    .bcb-hit-the-diamond.running {
        cursor: crosshair;
        cursor: url('img/hammer.cur'), crosshair;
        cursor: url("img/hammerdot.png") 10 110, url('img/hammer.cur'), crosshair;   
    }
        .bcb-hit-the-diamond.running.mouseDown {
            cursor: cell;
            cursor: url('img/hammerdown.cur'), cell;
            cursor: url("img/hammerdown.png") 22 72, url('img/hammerdown.cur'), cell;
        }
    
    .bcb-hit-the-diamond:before {
        content:'';
        position: absolute;
        top:1%;
        left:10%;
        width:80%;
        height:20%;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
        background-image:url("img/logo.png");
    }
    
    .bcb-hit-the-diamond:after {
        content:"Your High Score: " attr(data-highscore);
        position: absolute;
        top:20%;
        left:0;
        width:100%;
        font-size: 16px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:#e27c96;
        text-shadow:1px 1px white, 1px -1px white, -1px -1px white, -1px 1px white, 0 2px #9ae5f4;
    }
    
    .bcb-hit-the-diamond.running:after {
        content:"Score: " attr(data-score);
        left:10%;
        width:auto;
    }
    
    .bcb-hit-the-diamond.over:after {
        content:"";
    }
    
    .bcb-hit-the-diamond.over:before{
        background-image:url("img/gameover.png");
    }
        
    .bcb-hit-the-diamond .stars {
        font-family: FontAwesome;
        position: absolute;
        top:20%;
        right:-100%;
        text-shadow:1px 1px #e05f46, 1px -1px #e05f46, -1px -1px #e05f46, -1px 1px #e05f46;
        color:#fdda5c;
        font-size: 20px;
        white-space: nowrap;
        transition: right .5s ease-in-out;
    }
        .bcb-hit-the-diamond.running .stars {
            right:10%; 
        }
    
        .bcb-hit-the-diamond .stars > span:after {
            margin:0 .1em;
            content:"\f005";
            transition: opacity .2s ease-in-out;
        }
        
        .bcb-hit-the-diamond .stars > span.used:after {
            content:"\f006";
            opacity: .2;
        }
    
    .bcb-hit-the-diamond a {
        color:#9ae5f4!important;   
    }
    
    .bcb-hit-the-diamond .muteButton, .bcb-hit-the-diamond .muteMusic {
        position: absolute;
        top:.1em;
        right:.1em;
        font-size:20px;
        font-family: FontAwesome;
        color:black;
        opacity: .5;
        cursor: pointer;
        width: 1em;
        text-align: left;
    }
    
    .bcb-hit-the-diamond .muteButton ~ .muteMusic {
        right:1.6em;
    }
    
        .bcb-hit-the-diamond .muteButton:hover, .bcb-hit-the-diamond .muteMusic:hover {
            opacity: 1;   
        }
        
        .bcb-hit-the-diamond .muteButton:before {
            content: "\f026";
        }
        
            .bcb-hit-the-diamond.unmuted .muteButton:before {
                content: "\f028";   
            }
            
        .bcb-hit-the-diamond .muteMusic:before {
            content: "\f001";   
        }
        
        .bcb-hit-the-diamond .muteButton:after, .bcb-hit-the-diamond .muteMusic:after {
            position: absolute;
            left:.1em;
            color:red;
            font-weight: lighter;
            content: "\f05e";
            transform:rotateY(180deg); 
        }
        
            .bcb-hit-the-diamond.unmuted .muteButton:after, .bcb-hit-the-diamond.musicOn .muteMusic:after{
                content:'';   
            }
            
            .bcb-hit-the-diamond .muteButton:after {
                left:-.15em;   
            }
    
    .bcb-hit-the-diamond .dialog {
        position: absolute;
        width:80%;
        bottom:10%;
        left:10%;
        box-sizing: border-box;
        border:5px solid white;
        border-radius:1em;
        box-shadow: 0 3px 0 #9ae5f4;
        background-color:#6a85a4;
        color:white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding:1em;
        line-height:1.1em;
        transition: all .5s ease-in-out;
    }
        .bcb-hit-the-diamond .dialog.offscreen {
            bottom:-100%;
            opacity: .1; 
        }
    
        .bcb-hit-the-diamond .dialog > div {
            margin-bottom:.5em;   
        }
        .bcb-hit-the-diamond .dialog > button {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color:#e27c96!important;
            border:#e27c96 2px outset;
            color:white;
            font-weight: bold;
            float:right;
            padding:.05em .5em;
            font-size: 1.25em;
            line-height: 1em!important;
            text-transform: uppercase;
            border-radius: 1em;
            cursor: pointer;
        }
        
            .bcb-hit-the-diamond .dialog > button + button {
                float:left;   
            }
            
            .bcb-hit-the-diamond .dialog > button.yes:after {
                font-family: FontAwesome;
                content: "\f04b";
                position: relative;
                top:-.1em;
                font-size:.7em;
                left:.25em;  
            }
            
            .bcb-hit-the-diamond .dialog > button.loading {
                border-style: solid;
                opacity: .8;
                pointer-events: none;   
            }
                
                .bcb-hit-the-diamond .dialog > button.loading > i {
                    position: relative;
                    left:-.25em;   
                }
                
    .bcb-hit-the-diamond .credits, .bcb-hit-the-diamond .instructions {
        list-style: none;   
    }
        .bcb-hit-the-diamond .credits > li {
            margin:.2em 0;    
        }
        
            .bcb-hit-the-diamond .credits > li > span:first-child {
                display: inline-block;
                min-width:40%;
                text-align: right;
                margin-right:1em;
            }
        
        .bcb-hit-the-diamond .instructions {
            margin:0;
            margin-top:5px;
            padding:0;
            text-align: center;
        }
            
            .bcb-hit-the-diamond .instructions > li {
                display: inline-block;
                text-align: center;
                margin:5px;
                font-size:.8em;
            }
                
                .bcb-hit-the-diamond .instructions > li > .icon {
                    width:64px;
                    height:64px;
                    margin:0 auto;
                    background-position: center top;
                    background-size:cover;
                    background-repeat: no-repeat;   
                }
                
                    .bcb-hit-the-diamond .instructions > li > .icon.YellowDiamond, .bcb-hit-the-diamond .instructions > li > .icon.YellowPearl.hitImg {
                        background-position: 50% 35%;
                    }
        
    .bcb-hit-the-diamond .eyepod {
        width:629px;
        height:389px;
        background-image:url("img/eyepod.png");
        position: absolute;
        top:55%;
        transform-origin:top left;
        transform:scale(.4)translate(-50%,-50%);
        pointer-events: none;
        display: none;
    }
    
    .bcb-hit-the-diamond.running .eyepod,  .bcb-hit-the-diamond.over .eyepod {
        display:block;
    }

        .bcb-hit-the-diamond .eyepod:nth-of-type(3n+0) {
            left:20%;
        }
        .bcb-hit-the-diamond .eyepod:nth-of-type(3n+1) {
            left:80%;
        }
        .bcb-hit-the-diamond .eyepod:nth-of-type(3n+2) {
            left:50%;
        }
        .bcb-hit-the-diamond .eyepod + .eyepod + .eyepod + .eyepod {
            top:70%;
            transform:scale(.6)translate(-50%,-50%);
        }
        .bcb-hit-the-diamond .eyepod + .eyepod + .eyepod + .eyepod + .eyepod + .eyepod + .eyepod {
            top:90%;
            transform:scale(.8)translate(-50%,-50%);
        }

        .bcb-hit-the-diamond .eyepod:after {
            content:'';
            width:629px;
            height:238px;
            background-image:url("img/eyepod-fore.png");
            position: absolute;
            bottom:0;
            left:0;
            pointer-events: all;
        }
        
        .bcb-hit-the-diamond .eyepod .gems {
            position: absolute;
            left:235px;
            width:160px;
            bottom:150px;
            transform:rotateZ(5deg);
        }

		.bcb-hit-the-diamond .eyepod .gems.init {
			opacity:0;
		}
	        .bcb-hit-the-diamond .eyepod:nth-of-type(2n) .gems {
	            transform:rotateZ(5deg)rotateY(180deg);   
	        }
        
            .bcb-hit-the-diamond .eyepod .gems > .gem {
                position: absolute;
                left:0;
                bottom:0;
                margin-bottom:-500px;
                transition: all .5s ease-in-out;
            }


                .bcb-hit-the-diamond .eyepod .gems > .gem.popped {
                     margin-bottom: 0;
                }
                
                .bcb-hit-the-diamond .eyepod .gems > .gem.hit {
                    transition: all 1s ease-in-out;   
                }
                
                .bcb-hit-the-diamond .eyepod .gems > .gem > img {
                    width:160px!important;
		            height:auto!important;
                    pointer-events: all;   
                    position: absolute;
                    left:0;
                    bottom:0;
                    -webkit-user-drag: none;
                }
                    
                    .bcb-hit-the-diamond .eyepod .gems > .gem > img + img {
                        display:none;   
                    }
                    
                    .bcb-hit-the-diamond .eyepod .gems> .gem.hit  > img {
                        display:none;   
                    }
                    .bcb-hit-the-diamond .eyepod .gems > .gem.hit  > img + img {
                        display:block;   
                    }
                    
/*Blog Style Resets*/
.post .post-body .bcb-hit-the-diamond img
{
	background-color:transparent;
	border:none;
	padding:0;
	max-width:1000px;
	height: auto !important;
	border-radius:0;
	transition:none;
	margin: 0;
}

.bcb-hit-the-diamond button
{
	box-shadow:none;			
	border-radius:inherit;
	font-weight: inherit;
	font-family: inherit;
	font-size:inherit;
	padding:0;
	color:white !important;
	margin:0;
	text-shadow: none;
}

.bcb-hit-the-diamond button:ACTIVE
{
	border-style:inset;
	box-shadow: none;		
}

/*Prevent clickTrap from covering the game window*/
.blogger-clickTrap {
    display:none!important;
    pointer-events:none!important;   
}

/*Browser Compatibility*/
.bcb-hit-the-diamond[data-useragent*='MSIE 9.0'] .eyepod,
.bcb-hit-the-diamond[data-useragent*='MSIE 10.0'] .eyepod {
	height:242px;
	margin-top:50px;
	background-position:bottom;
}
