<html ng-app="artApp">

<head>
    <title>Beach City Bugle Art Post Builder</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
    <script src="../shared/art.js"></script>
    <script src="../shared/droplink.js"></script>
    <script src="artpost.js"></script>
    <link rel="stylesheet" href="../shared/builder.css" type="text/css" />
    <script>if (window.module) module = window.module;</script>
</head>

<body ng-controller="ArtPostController as artPost">
    <section class="construct">
        <h3>Build</h3>
        <div>
            <label>Text:</label>
            <input type="text" ng-model="artPost.text" />
        </div>
        <div ng-repeat="art in artPost.art track by $index" ng-init="sourceNum = $index">
            <label>Source {{sourceNum + 1}}:</label>
            <input type="url" ng-model="art.source" />
            <button ng-click="artPost.Remove(sourceNum)">Delete</button>
            <br/>
            <span ng-repeat="image in art.image track by $index" ng-init="imageNum = $index">
                <label ng-bind="'Image ' + (sourceNum + 1) + art.imageLetter(imageNum) + ':'"></label>
                <input type="url" ng-model="art.image[imageNum]" />
                <button ng-if="$first" ng-click="art.addImage()">Add</button>
                <button ng-if="!$first" ng-click="art.removeImage(imageNum)">Remove</button>
                <br/>
            </span>
            <label>Alt Text {{sourceNum + 1}}:</label>
            <input type="text" ng-model="art.caption" />
            <button ng-click="artPost.Rescan(sourceNum)">Rescan</button>
        </div>
        <div>
            <label>Source {{artPost.art.length + 1}}:</label>
            <textarea type="url" ng-model="artPost.nextSource"></textarea>
            <button ng-click="artPost.Add()">Add</button>
            <br/>
        </div>
        <label>Destroy:</label><button ng-click="artPost.Clear()">Clear</button>
        If you do this by mistake, refresh the page to undo the clearing.
    </section>
    <section class="output">
        <h3>Preview</h3>
        <div ng-repeat="art in artPost.art track by $index" ng-init="sourceNum = $index">
            <div ng-if="$first">
                <div class="separator" style="text-align: center;" ng-repeat="img in art.image track by $index">
                    <a href="{{art.source}}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;" title="{{art.caption}}">
                        <img border="0" src="{{img}}" bcb-sizing="640" alt="{{art.caption}}" />
                    </a>
                </div>
                <br /> {{artPost.text}}
                <br />
                <br />
                <b><a href="{{art.source}}">Source {{sourceNum + 1}}</a></b>
                <br />
                <br />
            </div>
            <div ng-if="!$first">
                <hr />
                <b><a href="{{art.source}}">Source {{sourceNum + 1}}</a></b>
                <br />
                <div class="separator" style="text-align: center;" ng-repeat="img in art.image track by $index">
                    <a href="{{art.source}}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;" title="{{art.caption}}">
                        <img border="0" src="{{img}}" bcb-sizing="640" alt="{{art.caption}}" />
                    </a>
                </div>
                <br />
            </div>
        </div>
    </section>
    <section class="html">
        <h3>HTML</h3>
        <pre id="html" ng-bind="artPost.outputHtml()"></pre><br/>
        <button class="clipboard" data-clipboard-target="#html">Copy to Clipboard</button>
    </section>
    
    <script>
        new Clipboard('.clipboard');
    </script>
</body>

</html>